<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        a {
            color: black;
            text-decoration: none;
        }

        div {
            border: 5px black solid;
            border-radius: 20px;
            background-color: lightblue;
            font-size: 25px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 300px;
            height: 70px;
            margin: 20px;
        }
        div:hover {
            filter: brightness(0.7)
        }
    </style>
    
    <title>Home</title>
</head>
<body>

    <h1> Home </h1>

    <a href="/zutat">
        <div>
            <span> Zutaten </span>
        </div>
    </a>

    <a href="/rezept">
        <div>
            <span> Rezepte </span>
        </div>
    </a>

    <a href="/berechnen/preis">
        <div>
            <span> Preis Berechnen </span>
        </div>
    </a>

    <a href="/berechnen/zutat">
        <div>
            <span> Zutaten Berechnen </span>
        </div>
    </a>
</body>
</html>