<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
    <style>
        .material-symbols-outlined:hover {
            cursor: pointer;
        }

        body {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        table {
            width: fit-content;
        }

        table th, table td {
            padding: 2px 10px;
            text-align: left;
        }
    </style>

    <title> Rezepte </title>
</head>
<body>
    <div style="width: 100%">
        <a href="/" style="color: black; text-decoration: none"> Zurück </a>
    </div>
    
    <h1> Rezepte </h1>

    <table>
        <tr>
            <th> Name: </th>
            <th> Optionen: </th>
        </tr>
        <tr id="neu-tr">
            <th colspan="2" style="text-align: center;">
                <span id="neu" class="material-symbols-outlined" title="Neues Rezept hinzufügen"> add </span>
            </th>
        </tr>
    </table>

    <template id="template">
        <tr>
            <td class="name"></td>
            <td style="text-align: center">
                <span class="bearbeiten material-symbols-outlined" title="Rezept bearbeiten"> edit </span>
            </td>
        </tr>
    </template>

    <script>
        window.onload = async () => {
            await fillTable()

            document.getElementById("neu").addEventListener("click", e => {
                neu()
            })
        }

        async function fillTable() {
            let res = await fetch("/api/rezept/alle")

            if(res.ok) {
                let body = await res.json()

                body.rezepte.forEach(r => {
                    let template = document.getElementById("template")
                    let t = document.importNode(template.content, true)

                    t.querySelector(".name").innerText = r.name
                    t.querySelector("tr").id = r.id

                    t.querySelector(".bearbeiten").addEventListener("click", e => {
                        let tr = e.target.parentElement.parentElement
                        bearbeiten(tr)
                    })

                    document.querySelector("table").querySelector("tbody").insertBefore(
                        t,
                        document.getElementById("neu-tr")
                    )
                })
            }
        }

        function bearbeiten(tr) {
            location.assign(`/rezept/bearbeiten?id=${tr.id}`)
        }

        async function neu() {
            let res = await fetch("/api/rezept", {
                method: "PUT"
            })

            if(res.ok) {
                let body = await res.json()

                location.assign(`/rezept/bearbeiten?id=${body.id}`)
            }
        }
    </script>
</body>
</html>